html,
body,
#root,
.app,
#app {
  position: relative;
  height: 100%;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b9bec4;
}

body {
  margin: 0;
  padding: 0 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: clamp(320px, 100%, 970px);
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

// scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;

  &-track {
    background-color: transparent;
    border-radius: 5px;
  }

  &-thumb {
    background-color: #a6b2c3;
    border-radius: 5px;
  }

  &-corner {
    background-color: #ffffff;
  }
}
